body{

  background-color: lightblue;

}
form{

  width: 200px;
    display: block;
     margin-left: auto;
     margin-right:auto;
     margin-top:20%;
     justify-content: center;
     align-items: center;​


}
label usuario{
  float: left;
margin-right: 200px;
}
button{
display: block;
width: 200px;
margin-top: 100px;


}
