body{

  background-color: lightblue;

}

form {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    justify-content: center;
    align-items: center;
    ​
}
label {
  float: left;
  font-size: 3em;

}
button {
    display: block;
    width: 50%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    font-size: 3em;
}
.container {
    height: 100vh;
    width: 80%;
    padding-bottom: 33.33%;
    padding-top: 33.33%;
    margin-left: auto;
    margin-right: auto;

}
#logo {

    width: 100%;
    margin-right: 33.33%;
    margin-left: 33.33%;

}
.form-control{
  font-size: 3em;
}
p {
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    margin-right: auto;
  }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait){
#logo {

      width: 100%;
      margin-right: 33.33%;
      margin-left: 33.33%;
      margin-top: 10%;
  }
.container {
  width: 35%;
  padding-top: 5%;
  padding-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  }
  .form-control{
    font-size: 2em;
    width: 100%;
  }
  form {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    justify-content: center;
    align-items: center;

}
}
@media only screen and (min-device-width :1024px) {
  .container {

    width: 50%;
    padding-top: 5%;
    padding-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}
    .form-control{
      font-size: 2em;
      width: 100%;
    }

    form {
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
      justify-content: center;
      align-items: center;

  }
}
