#containerLogo{
  display: flex;
    border-radius: 15px;
    width: 200px;
    overflow: hidden;
    margin-right: auto;
      margin-left: auto;


  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center

}
#logo img{
width: 150px;


}
#padre{
  width:100%;

  margin: 2%;
}
#main{
width: fit-content;
  margin: 2%;

}
.form-check {
    margin:5%;
    position: relative;
    display: block;
    padding-left: 1.25rem;
}
#toRegister{
  font-size: 1em;
  text-align: center;
}
label{

   font-size: 1em;
  text-align: center;

}

body{
  height: -webkit-fill-available;
    display: flex;
    align-content: stretch;
}

.styleTitle {
  padding: 1%;
    margin: 4px 6px 10px 2px;
    border-top: solid 1px darkgray;
    border-bottom: solid 1px darkgrey;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
ul{
  margin-top: 1rem;
    margin-bottom: 1rem;
}
.formControl {
    font-size: 1.5em;
    width: 300px;
    border-radius: 0.5rem;
    background-color: white;

    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;

    border: 1px solid #ced4da;


}


p {

   font-size: 1em;
   color: #007bff;
   text-decoration: none;
   text-align: center;
   margin-top: auto;
   margin-left: auto;
   margin-bottom: 0;
   margin-right: auto;

  }

  .navbar-brand {
   display: inline-block;
   padding-top: .3125rem;
   padding-bottom: .3125rem;
   margin-right: 0;
   font-size: 1.25rem;
   line-height: inherit;
   white-space: nowrap;
}
.btn {
    margin-top: 5px;
    padding: 1px 6px;
    outline: none;
    white-space: nowrap;
    visibility: visible;
    position: relative;
    width: 70%;
    text-align: center;
    font-size: 15pt;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
  }

.btnHalf{
  margin-bottom: 2px;
    padding: 1px 0px;
    white-space: nowrap;
    position: relative;
    width: 70%;
    text-align: center;
    font-size: 12pt;
  font-weight: 600;
}
.file-input {
    margin-bottom: 3%;
    width: 100%;
    height: 43px;
    /* padding: 1% 0%; */
    display: block;
    visibility: hidden;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.file-input::before {
    margin-top: 11px;
    content: '1-Select your avatar';
    border-radius: 15px 15px 15px 15px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: block;
    padding: 1px 6px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16pt;
    visibility: visible;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
}
.file-input:hover::before {
  border-color: black;
}
.file-input:active::before {
  background: grey;
}





/*.mobileMenu{
position: fixed;
    bottom: 150px;
    width: 100%;
    height: 65px;
    background-color: #4c4c4c;
    z-index: 110;
}


/*@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait){

  body {
      margin: 5%;
  }
  .container {
  width: 400px;
      background-color: lightblue;
      border: solid 2px #007bff;
      border-radius: 3%;
      padding-top: 2%;
      padding-bottom: 2%;
      margin-left: auto;
      margin-right: auto;


  }
  .form-control {
      font-size: 1.5em;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

    form {
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10%;
}
}
@media only screen and (min-device-width :1024px) {
  body {
      margin: 5%;
  }
  .container {
   width: 400px;
   background-color: lightblue;
   border: solid 2px #007bff;
   border-radius: 4%;
   padding-top: 1%;
   padding-bottom: 2%;
   margin-left: auto;
   margin-right: auto;
    }

    .form-control {
        font-size: 1.25em;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }

    form {
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
      justify-content: center;
      align-items: center;

  }
}*/
/*
@media (min-width: 576px) {
body {
    margin: 5%;
}
.container {
max-width: 100%;
    background-color: lightblue;
    border: solid 2px #007bff;
    border-radius: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: auto;
    margin-right: auto;


}
.form-control {
    font-size: 1.5em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
}

 /*Medium devices (tablets, 768px and up)
@media (min-device-width: 576)and (max-device-width: 768px) {
body {
    margin: 5%;
}
.container {
max-width: 100%;
    background-color: lightblue;
    border: solid 2px #007bff;
    border-radius: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: auto;
    margin-right: auto;


}
.form-control {
    font-size: 1.5em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
}

// Large devices (desktops, 992px and up)
@media (min-width: 768) and (max-device-width: 992)  {
body {
    margin: 5%;
}
.container {
width: 400px;
    background-color: lightblue;
    border: solid 2px #007bff;
    border-radius: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: auto;
    margin-right: auto;


}
.form-control {
    font-size: 1.5em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 992PX) {
    body {

      margin: 5%;
  }
  .container {
  width: 400px;
      background-color: lightblue;
      border: solid 2px #007bff;
      border-radius: 3%;
      padding-top: 2%;
      padding-bottom: 2%;
      margin-left: auto;
      margin-right: auto;


  }
  .form-control {
      font-size: 1.5em;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

    form {
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10%;
}
}
}
