

.formulario {


flex-wrap: wrap;
align-content: flex-end;
width: 60%;
  display: flex;
   margin-left: 20%;
   margin-right:20%;
   margin-top:20%;
   justify-content: center;
   align-items: center;​
}
​
​
div button {
  display: inline;
  margin-top: 100px;
  border-radius: 100px;
  height: 100px;
  width: 100px;
​
}
.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    margin-top: 20px;
    border-radius:15%;
  }
