.styleLogin{
  border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
margin-bottom: 1%;
border: solid 2px #007bff85;
  background-color: #b3d7ff5c;

  }

.styleTitle {
    margin: 4px 6px 10px 2px;
    border-top: solid 1px darkgray;
    border-bottom: solid 1px darkgrey;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }

.borderRadiusDown{
    border-radius: 0px 0px 15px 15px ;
  }

.borderRadiusUp{
    border-radius: 15px 15px 0px 0px;
  }
  .logo{  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  margin-bottom: 1%;
  border: solid 2px #007bff85;
    background-color: #b3d7ff5c;

  }
